---
import Layout from "../layouts/BlogPost.astro";
import "@fontsource-variable/readex-pro";
---

<Layout
  title="من انا؟"
  description=""
  pubDate={new Date("October 23 2024")}
  heroImage="/sultan-pic.png"
>
  <p>
    سلطان محمد الجربوع، طالب هندسة حاسب في السنة الأخيرة، اتمتع بخبرة قيادية
    كمشرف فاب لاب حائل وقائد لنادي مطوري Google الطلابي. أمثل الطلاب في كلية
    علوم وهندسة الحاسب، مُهتم في مجالات التصنيع، إنترنت الأشياء، الطباعة ثلاثية
    الأبعاد، والروبوتات، مع التزام راسخ بالتعلم المستمر والابتكار.
  </p>
</Layout>
