---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Sultan Al-Jrboa
  <div class="social-links">
    <a href="https://x.com/Sultanaljrboa" target="_blank">
      <svg
        viewBox="0 0 16 16"
        aria-hidden="true"
        width="32"
        height="32"
        astro-icon="social/twitter"
        ><path
          fill="currentColor"
          d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
        ></path></svg
      >
    </a>
    <a href="https://www.linkedin.com/in/sultanal-jrboa/" target="_blank">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="32"
        height="32"
        aria-hidden="true"
      >
        <path
          fill="currentColor"
          d="M1.146 0C.513 0 0 .514 0 1.146v13.708C0 15.487.513 16 1.146 16h13.708c.633 0 1.146-.513 1.146-1.146V1.146C16 .514 15.487 0 14.854 0H1.146zM4.786 13.356H2.532V6.068h2.254v7.288zM3.66 5.112a1.31 1.31 0 1 1 0-2.621 1.31 1.31 0 0 1 0 2.621zm9.696 8.244h-2.253v-3.742c0-.891-.016-2.038-1.242-2.038-1.244 0-1.434.971-1.434 1.976v3.804H6.173V6.068h2.164v.996h.03c.302-.573 1.04-1.177 2.141-1.177 2.288 0 2.71 1.506 2.71 3.466v4.003z"
        ></path>
      </svg>
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 2em 1em;
    background: var(--darkmode-lighter);
    color: var(--darkmode-white);
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--darkmode-white);
  }
  .social-links a:hover {
    color: var(--darkmode-white-sub);
  }
</style>
